
.header{
    display: flex;
    justify-content:  space-between;
    flex-wrap: wrap;

}
.header__left{
    display: flex;
    flex-direction: row;
    font-family:  Arial, Tahoma, sans-serif;
}
.header__right{
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 50px;
    font-size: 20px;
}
.container {
    display: flex;
}
.list{
    display:flex;
    justify-content: center ;
    flex-wrap: wrap;
}
.list__item{
    
    width: 300px;
    margin: 0 auto;
}
.clleft ul {
    display: flex;
    justify-content: center;
    align-items: center
}

.clleft ul li {
    margin-top: 50px;
    text-align: center;
    list-style: none;
}

li a i, li a span{
    display: block;
}

a{
    display: flex;
    text-decoration: none;
    color:black;
    justify-content: center;
    align-items: center
   
}
a:hover img {
    opacity: 20%;
}
img{
    width: 240px;
    height: 135px;
    border-radius: 15px;
   
}
a:hover .btn{
    opacity: 100%;
    background-color: #fff;
    transform: translateY(-3px);
}

.header img{
    width: 38px;
    height: 38px;
    border-radius: 8px;
}
li{
    list-style: none;
}
.btn{
    padding: 10px 20px;
    border-radius: 50px;
    
    border-color: #fff;
    opacity: 0%;
    position: absolute;
    color: black;
    
}

h3 {
    font-family:  system-ui,'Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
    width: 240px;
    margin: 0 auto;
}
.user{
    width: 240px;
    text-align: center;
}